#!/bin/sh
eval "$(ssh-agent)"

PATH=$PATH:~/.bin:~/.yarn/bin
export PATH

QT_QPA_PLATFORMTHEME=qt5ct
export QT_QPA_PLATFORMTHEME

xrdb /home/connor/.Xresources &
xset +fp /usr/share/fonts/local

/usr/lib/mate-polkit/polkit-mate-authentication-agent-1 &

while :; do compton --backend glx; done &
/home/connor/.bin/bg-cycler &

tint2 &
volnoti

pactl load-module module-loopback latency_msec=1
mpd