#!/bin/sh
eval "$(ssh-agent)"

PATH=$PATH:~/.bin
export PATH

QT_QPA_PLATFORMTHEME=qt5ct
export QT_QPA_PLATFORMTHEME

xrdb /home/connor/.Xresources &
xset +fp /usr/share/fonts/local

while :; do compton --backend glx; done &
/home/connor/.bin/bg-cycler &

tint2 &
volnoti